.app-info {
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15),
    -5px -5px 5px #fffb;
    color: #000;
}

@media(max-width:575px) {
    .app-info {
        padding: 15px;
    }

    h1 {
        font-size: 22px;
    }

    .app-info h2 {
        font-size: 18px;
    }
}