.search-panel {
    margin-top: 30px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15),
    -5px -5px 5px #fffb;
    color: #000;
}

@media(max-width: 575px) {
    .search-panel {
        margin-top: 15px;
        padding: 15px;
    }
}