.list-group-item {
    padding: 15px 20px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.125);
    background-color: #edf1f4;
}

.list-group-item:last-child {
    border-bottom: none;
}

.list-group-item span {
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
}

.list-group-item input {
    line-height: 35px;
    font-size: 20px;
    text-align: center;
    border: 0;
    background-color: #edf1f4;
}

.list-group-item button {
    width: 35px;
    height: 35px;
    margin: 3px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edf1f4;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.15),
    -3px -3px 5px #fffb;
    border-radius: 5px;
}

.list-group-item button:active {
    box-shadow: inset 3px 3px 5px rgba(0,0,0,0.15),
        inset -3px -3px 5px #fffb;
}

.list-group-item .btn-cookie {
    color: #e09f3e;
}

.list-group-item .btn-trash {
    color: #e5383b;
}

.list-group-item .fa-star {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: #FFD700;
    transition: 0.3s all;
    transform: translateY(30px);
    opacity: 0;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.15),
    -3px -3px 5px #fffb;
    border-radius: 5px;
}

.list-group-item.like .fa-star {
    opacity: 1;
    transform: translateY(0px);
}

.list-group-item.increase .list-group-item-label, .list-group-item.increase .list-group-item-input {
    color: #e09f3e;
}

.list-group-item.increase .btn-star {
    color: #c61414;
}


@media(max-width:575px) {
    .list-group-item {
        padding: 5px 7px;
    }

    .list-group-item span, input, div {
        flex: 1;
        font-size: 16px;
    }

    .list-group-item input {
        width: 0;
        font-size: 16px;
    }
}