.btn-group {
    margin-top: 20px;
}

@media(max-width:575px) {
    .btn-group>.btn:not(:last-child):not(.dropdown-toggle), 
    .btn-group>.btn:nth-child(n+3), .btn-group>:not(.btn-check)+.btn {
        border-radius: 5px;
    }
    .btn:hover {
        background-color: #fff;
    }
}